<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Copyright 2010 The myBatis Team Licensed under the Apache License, Version 
	2.0 (the "License"); you may not use this file except in compliance with 
	the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<mapper namespace="com.myproject.bride.lib.mapper.BookingDateMapper">

	<insert id="createBookingDate" parameterType="BookingDateVO" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO booking_date 
    	(bookingDate, isDay, isNight, idVenue,bookingOn,namaPernikahan,namaPenanggungJawab1,handPhone1,namaPenanggungJawab2,handPhone2
    	,userEmailBooking)
    	values (
    	#{dateTimeMilisecond},
    	#{isDay},
    	#{isNight},
    	#{idVenue},
    	#{dateTime},
    	#{namaPernikahan},
    	#{namaPenanggungJawab1},
    	#{handPhone1},
    	#{namaPenanggungJawab2},
    	#{handPhone2},
    	#{userEmailBooking}    	
    	)
	</insert>
	
	<update id="updateBookingDate" parameterType="BookingDateVO" >
    	update booking_date set     		
    		isDay=#{isDay}, 
    		isNight=#{isNight}
    	where bookingDate=#{dateTimeMilisecond} and idVenue=#{idVenue}
    </update>
    
    <select id="findBookingDateByParam" resultType="BookingDate" parameterType="BookingDateVO">
		select bd.id as id, bd.bookingDate as bookingDate, bd.isDay as isDay, bd.isNight as isNight, bd.idVenue as idVenue		
		from booking_date bd
		where bd.bookingDate=#{dateTimeMilisecond} and bd.idVenue =#{idVenue} 		
	</select>
	
	<resultMap id="ResultMyBooking" type="ResultMyBookingVO">		
		<result property="bookingDateVO.namaPernikahan" column="namaPernikahan" />
		<result property="bookingDateVO.namaPenanggungJawab1" column="namaPenanggungJawab1" />
		<result property="bookingDateVO.handPhone1" column="handPhone1" />
		<result property="bookingDateVO.namaPenanggungJawab2" column="namaPenanggungJawab2" />
		<result property="bookingDateVO.handPhone2" column="handPhone2" />
		<result property="bookingDateVO.userEmailBooking" column="userEmailBooking" />	
		
		<result property="venueVO.venue.titleVenue" column="titleVenue" />		
	
		
	</resultMap>
	
	<select id="getListMyBooking" parameterType="BookingParamVO" resultMap="ResultMyBooking">
		select b.namaPernikahan as namaPernikahan ,b.namaPenanggungJawab1 as namaPenanggungJawab1,
		b.handPhone1 as handPhone1, b.namaPenanggungJawab2 as namaPenanggungJawab2,
		b.handPhone2 as handPhone2, v.titleVenue as titleVenue
		from booking_date b inner join venue v on b.idVenue = v.id
		where b.userEmailBooking = #{emailUserLogin}
	</select>

</mapper>