<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Copyright 2010 The myBatis Team Licensed under the Apache License, Version 
	2.0 (the "License"); you may not use this file except in compliance with 
	the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->

<mapper namespace="com.myproject.bride.lib.mapper.UserDataMapper">

	

	<select id="findUserDataByEmail" parameterType="LoginDataVO" resultType="UserData">
		select u.id as id, u.email as email, u.`password` as password, u.sessionData as sessionData
		, u.sessionDate as sessionDate, u.sessionOn as sessionOn from user_data u
		where u.email = #{email}
	</select>
	
	
	<update id="updateUserData" parameterType="UserData" >
    	update user_data set     		
    		sessionData=#{sessionData}, 
    		sessionOn=#{sessionOn},
    		sessionDate=#{sessionDate}
    	where id=#{id}
    </update>
	

</mapper>